@font-face {
  font-family: 'Oranienbaum Medium';
  src: url('../fonts/NEXT-ART_Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'Oranienbaum Semibold';
  src: url('../fonts/NEXT-ART_Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'Oranienbaum Bold';
  src: url('../fonts/RobotoCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: 'Oranienbaum ExtraBold';
  src: url('../fonts/Golos-Text_Regular.woff') format('woff');
  font-weight: 800;
  font-style: normal
}