:root {
  --color--text-primary: white;
  --color--pink: #ff3ca5;
  --color--purpure: #4c0b76;

  --horizontal-offset: 16px;
}

html {
  font-family: "Oranienbaum", Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  background-color: black;
}

body.hidden {
  overflow: hidden;
}

em {
  font-style: italic;
}
u {
  text-decoration: underline;
}

a,
img,
buttton {
  user-select: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  background: transparent;
}

input {
  outline: none;
  padding: 0;
  box-sizing: border-box;
  box-shadow: none;
  background-clip: padding-box;
}

.color--text-primary {
  color: var(--color--text-primary);
}
.color--text-pink {
  color: var(--color--pink);
}

.regular {
  font-weight: 400;
}

.next-art--regular {
  font-family: "Next-Art-Regular";
}

.next-art--bold {
  font-family: "Next-Art-Bold";
}

.roboto-bold {
  font-family: "Roboto-Condensed-Bold";
}

.golos-regular {
  font-family: "Golos-Text-Regular";
}

.caps {
  text-transform: uppercase;
}

strong {
  font-weight: bold;
  font-family: "Next-Art-Bold";
}

.horizontal-offset {
  padding: 0 var(--horizontal-offset);
  max-width: 1100px;
  margin: 0 auto;
}
.vertical-offset {
  padding: 64px 0;
}

.b-buy-button {
  width: calc(100% - 32px);
  max-width: 475px;
  height: 72px;
  background: linear-gradient(
    90deg,
    #5812a1 10%,
    #854ac7 50%,
    #5812a1 90%,
    #5812a1
  );
  border-radius: 100px;
  outline: none;
  cursor: pointer;
  user-select: none;
  color: white;
  font-size: 14px;
  line-height: 18px;
  box-shadow: #380a6e 0px 4px 0;
}
.b-buy-button > span {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
}

.b-square-box {
  position: relative;
  width: fit-content;

  --border: 1px solid white;
}
.b-square-box > span.b-square-box__left,
.b-square-box > span.b-square-box__right {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
}
.b-square-box > span.b-square-box__left {
  left: 0;
}
.b-square-box > span.b-square-box__right {
  right: 0;
}
.b-square-box > span.b-square-box__left::before,
.b-square-box > span.b-square-box__left::after,
.b-square-box > span.b-square-box__right::before,
.b-square-box > span.b-square-box__right::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
}
.b-square-box > span.b-square-box__left::before {
  border-left: var(--border);
  border-top: var(--border);
  left: 0;
  top: 0;
}
.b-square-box > span.b-square-box__left::after {
  border-bottom: var(--border);
  border-left: var(--border);
  left: 0;
  bottom: 0;
}
.b-square-box > span.b-square-box__right::before {
  border-right: var(--border);
  border-top: var(--border);
  right: 0;
  top: 0;
}
.b-square-box > span.b-square-box__right::after {
  border-right: var(--border);
  border-bottom: var(--border);
  right: 0;
  bottom: 0;
}

/* BANNER */
.b-banner {
  padding: 0 0 60px;
  position: relative;
  background: linear-gradient(180deg, #6e069a, #090015);
  /* background: radial-gradient(
      circle at 30% 40%,
      rgba(174, 61, 195, 0.7),
      transparent 40%
    ),
    radial-gradient(circle at 70% 30%, rgba(98, 46, 210, 0.6), transparent 50%),
    #0b001a; */
}

.b-banner::before {
  content: "";
  display: block;
  width: 600px;
  height: 600px;
  box-shadow: rgba(174, 61, 195, 1) 0 0 200px;
  background: rgba(174, 61, 195, 0.7);
  filter: blur(100px);
  position: absolute;
  z-index: 0;
  left: 10%;
  top: 20%;
  border-radius: 50%;
}
.b-banner::after {
  content: "";
  display: block;
  width: 600px;
  height: 600px;
  box-shadow: rgba(98, 46, 210, 1) 0 0 200px;
  background: rgba(98, 46, 210, 0.6);
  filter: blur(100px);
  position: absolute;
  z-index: 0;
  right: 0;
  top: 5%;
  border-radius: 50%;
}

.b-banner__wrapper {
  position: relative;
  z-index: 1;
}
.b-banner__video {
  overflow: hidden;
  border-radius: 0 0 22px 22px;
  width: 100%;
  pointer-events: none;
  z-index: -1;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
}
.b-banner__video > video {
  object-fit: cover;
  object-position: center;
  min-height: 500px;
}
.b-banner__content {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.b-banner__content_title h1 {
  font-size: 26px;
  line-height: 32px;
  max-width: 670px;
}
.b-banner__content_title .b-square-box {
  padding: 12px 16px;
  font-size: 18px;
  line-height: 24px;
}
.b-banner__content_title {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  bottom: 74px;
  left: 0;
  width: 100%;
  padding-left: var(--horizontal-offset);
  padding-right: var(--horizontal-offset);
  max-width: 1100px;
}
.b-banner__content_logo {
  position: absolute;
  top: 24px;
  left: var(--horizontal-offset);
}
.b-banner__content_logo > img {
  width: 51px;
  height: auto;
}

.b-banner__content_button {
  margin: 0 auto;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(50%);
}

/* ABOUT */
.b-about {
  background: linear-gradient(180deg, #090015, black);
}
.b-about > div {
  position: relative;
}
.b-about__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.b-about__content > p {
  font-size: 18px;
  line-height: 26px;
}
.b-about__images {
  display: flex;
  flex-direction: column;
}
.b-about__images > div {
  display: flex;
}
.b-about__images_start,
.b-about__images_arrow,
.b-about__images_end {
  justify-content: center;
}
.b-about__images_start > div {
  width: 100%;
  max-width: 319px;
  overflow: hidden;
  border-radius: 12px;
}
.b-about__images_start > div > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.b-about__images_end > div {
  width: 100%;
  max-width: 358px;
  height: 358px;
  overflow: hidden;
  border-radius: 12px;
}
.b-about__images_end > div > img {
  object-fit: cover;
  object-position: top center;
  width: 100%;
  height: 100%;
}

/* ABOUT */

/* Tery AI */
.b-tery-ai {
  position: relative;
}
.b-tery-ai::after {
  content: "";
  display: block;
  width: 700px;
  height: 700px;
  box-shadow: rgba(98, 46, 210, 1) 0 0 200px;
  background: rgba(98, 46, 210, 0.6);
  filter: blur(100px);
  position: absolute;
  z-index: 0;
  left: 10%;
  top: 0;
  border-radius: 50%;
}
.b-tery-ai > div {
  position: relative;
  z-index: 1;
}
.b-tery-ai__content > p {
  font-size: 16px;
  line-height: 26px;
}
.b-tery-ai__subtitle {
  margin-top: 32px;
}
.b-tery-ai__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 54px auto;
  max-width: 356px;
}
.b-tery-ai__list_item {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 28px;
}
.b-tery-ai__arrow--sm {
  display: none;
}

/* Tery AI */

/* GOALS */

.b-goals h2 {
  text-align: center;
  position: relative;
}
.b-goals h2::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  filter: blur(27px);
  width: 60%;
  height: 25px;
  z-index: -1;
  box-shadow: var(--color--pink) 0 9px 10px;
  background: var(--color--pink);
}
.b-goals__list {
  margin-top: 54px;
}
.b-goals__list::after {
  content: "";
  display: block;
  clear: both;
}
.b-goals__list > *:not(:first-child) {
  margin-top: 36px;
}
.b-goals__item {
  position: relative;
  padding-left: 54px;
}
.b-goals__item > div {
  height: 100px;
  display: flex;
  align-items: center;
  padding-right: 90px;
}
.b-goals__item > div > span {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 100px;
  line-height: 1;
  z-index: -1;
  opacity: 0.3;
}
.b-goals__item > div > h3 {
  font-size: 18px;
  line-height: 24px;
}
.b-goals__item > p {
  font-size: 14px;
  line-height: 18px;
}

h2.default-h2 {
  font-size: 26px;
}

/* GOALS */

/* COURSE RESULT */
.b-course-result__content {
  padding: 24px;
  max-width: 800px;
  margin: 0 auto;
}
.b-course-result__content p {
  font-size: 18px;
  line-height: 24px;
}
/* COURSE RESULT */

/* REVIEWS */

.b-reviews h2 {
  position: relative;
  display: inline-flex;
}
.b-reviews h2 > span {
  position: relative;
  z-index: 1;
}
.b-reviews h2::after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  left: 20px;
  filter: blur(24px);
  width: 290px;
  height: 18px;
  z-index: 0;
  box-shadow: var(--color--pink) 0 3px 20px;
  background: var(--color--pink);
  transform: rotate(-4deg);
}

.b-reviews__wrapper {
  overflow: hidden;
  margin-top: 42px;
  margin-left: calc(var(--horizontal-offset) * -1);
  margin-right: calc(var(--horizontal-offset) * -1);
}
.b-reviews__wrapper > div {
  margin-bottom: -17px;
  overflow-x: auto;
  padding-bottom: 17px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding-left: var(--horizontal-offset);
  padding-right: var(--horizontal-offset);
}
.b-reviews__list {
  display: flex;
  gap: 24px;
}
.b-reviews__item {
  border-radius: 20px;
  min-width: 263px;
  width: 263px;
  height: 435px;
  background: linear-gradient(315deg, #090015, #6e069a);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px 0;
}
.b-reviews__item_video {
  border-radius: 11px;
  overflow: hidden;
}
.b-reviews__item_author {
  text-align: center;
}
.b-reviews__item_author > span {
  font-size: 24px;
  line-height: 42px;
}
.b-reviews__item_author > p {
  font-size: 14px;
  line-height: 22px;
}

/* STUDENTS */
.b-student-item {
  border-radius: 20px;
  min-width: 318px;
  width: 318px;
  height: 398px;
  background: linear-gradient(315deg, #090015, #6e069a);
  overflow: hidden;
  position: relative;
  white-space: normal;
}
.b-student-item__image {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}
.b-student-item__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.b-student-item__content {
  padding: 124px 24px 24px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  height: 100%;
}
.b-student-item__name {
  font-size: 30px;
  line-height: 42px;
}
.b-student-item__desc {
  font-size: 14px;
  line-height: 22px;
  margin-top: 24px;
}
.b-student-item__button {
  color: var(--color--purpure);
  font-size: 14px;
  border-radius: 7px;
  background-color: #ffffff;
  width: 182px;
  height: 46px;
}
.b-student-item__details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 11px;
  gap: 12px;
  margin-top: 4px;
  min-height: 20px;
}
.b-student-item__inst {
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 6px;
  border: 1px solid white;
  border-radius: 6px;
}
.b-student-item__location {
  height: 12px;
  padding-left: 16px;
  background-image: url("./img/pin.png");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: left center;
}
/* STUDENTS */

/* PROGRAMS  */
.b-program {
  text-align: center;
}
.b-program h2 {
  font-size: 36px;
  line-height: 1;
  position: relative;
}
.b-program h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(27px);
  width: 75%;
  height: 14px;
  z-index: -1;
  box-shadow: #ff3ca5 0px 9px 10px;
  background: #ff3ca5;
}
.b-program__subtitle {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  line-height: 36px;
  justify-content: center;
  margin-top: 36px;
}
.b-program__subtitle_dots {
  display: flex;
  align-items: center;
  gap: 12px;
}
.b-program__subtitle_dots::before,
.b-program__subtitle_dots::after {
  content: "";
}

.b-program__subtitle_dots > span,
.b-program__subtitle_dots::before,
.b-program__subtitle_dots::after {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff3ca5;
}
.b-program__subtitle_dots > span {
  opacity: 0.7;
}
.b-program__subtitle_dots::after {
  opacity: 0.3;
}
.b-program__subtitle_dots--left {
  flex-direction: row-reverse;
}
.b-program__description {
  text-transform: uppercase;
  margin-top: 36px;
  font-size: 24px;
  line-height: 1;
}
.b-program .b-module {
  margin-top: 100px;
}

.b-modules {
  position: relative;
}
.b-modules::before {
  content: "";
  display: block;
  width: 500px;
  height: 500px;
  box-shadow: rgba(174, 61, 195, 1) 0 0 200px;
  background: rgba(174, 61, 195, 0.7);
  filter: blur(100px);
  position: absolute;
  z-index: 0;
  right: 10%;
  top: 50px;
  border-radius: 50%;
}
.b-modules::after {
  content: "";
  display: block;
  width: 700px;
  height: 700px;
  box-shadow: rgba(98, 46, 210, 1) 0 0 200px;
  background: rgba(98, 46, 210, 0.6);
  filter: blur(100px);
  position: absolute;
  z-index: 0;
  left: 10%;
  bottom: 10%;
  border-radius: 50%;
}
.b-modules > div {
  position: relative;
  z-index: 1;
}
.b-module-list {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.b-module {
  margin-left: calc(var(--horizontal-offset) * -1);
  margin-right: calc(var(--horizontal-offset) * -1);
  background: linear-gradient(250deg, #090015, #6e069a);
  padding: 48px var(--horizontal-offset);
  position: relative;
  text-align: left;
}

.b-module__title {
  position: absolute;
  border-radius: 12px;
  top: 0;
  transform: translateY(-50%);
  font-size: 24px;
  width: 180px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(20deg, #773bbc, #ac3379);
  overflow: hidden;
  padding: 2px;
}

.b-module__title > div {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #26013f, #010101);
  border-radius: 10px;
}

.b-module h3 {
  line-height: 28px;
  font-size: 20px;
  text-transform: uppercase;
}

.b-module__results {
  margin-top: 28px;
}
.b-module__results h4 {
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
  display: inline-flex;
}
.b-module__results h4 > span {
  position: relative;
  z-index: 1;
}
.b-module__results h4::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(16px);
  width: 100%;
  height: 100%;
  z-index: 0;
  box-shadow: var(--color--pink) 0 0 8px;
  background: var(--color--pink);
}
.b-module__results ul {
  font-size: 16px;
  line-height: 26px;
  margin-top: 16px;
}
.b-module__results ul::after {
  content: "";
  display: block;
  clear: both;
}
.b-module__results ul > li {
  width: 100%;
  padding-left: 20px;
  background-image: url("./img/check.png");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: left 8px;
  margin-top: 12px;
}
.b-module__results ul > li:first-child {
  margin-top: 0;
}

/* RESULTS */

.b-results__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 56px;
}

.b-results__text_list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.b-results__text h3 {
  font-size: 18px;
  line-height: 28px;
}
.b-results__text p {
  font-size: 16px;
  line-height: 26px;
}
.b-results__text h3 + p {
  margin-top: 8px;
}
.b-results__images {
  display: flex;
  flex-direction: column;
  width: 350px;
}
.b-results__images > div {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
}
.b-results__images > div > img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
/* RESULTS */

/* CALL TO ACTION */
.b-call-to-action {
  text-align: center;
}
.b-call-to-action .b-square-box {
  padding: 42px;
}
.b-call-to-action__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 36px;
}
.b-call-to-action__content p {
  font-size: 16px;
  line-height: 26px;
}
.b-call-to-action__button {
  margin-top: 16px;
}
/* CALL TO ACTION */

.b-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 48px; */
  visibility: hidden;
  transition: visibility ease 0.2s;
}
.b-popup.b-popup--opened {
  visibility: visible;
  transition: visibility ease 0s;
}
.b-popup__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.54);
  z-index: 0;
  opacity: 0;
  transition: opacity ease-in-out 0.2s;
}
.b-popup__close {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}
.b-popup__close > * {
  pointer-events: none;
}
.b-popup__content {
  z-index: 1;
  position: relative;
  padding: 48px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-popup--fullsize .b-popup__content {
  display: block;
}
.b-popup__card {
  position: relative;
  background: black;
  border-radius: 24px;
  padding: 24px;
  opacity: 0;
  transform: scale(0);
  transition: opacity ease-in-out 0.2s, transform ease-in-out 0.3s;
  width: fit-content;
}
.b-popup.b-popup--opened .b-popup__backdrop {
  opacity: 1;
}
.b-popup.b-popup--opened .b-popup__card {
  opacity: 1;
  transform: scale(1);
}

.b-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 320px;
}
.b-form > div > * {
  width: 100%;
}
.b-form__field {
  width: 100%;
  font-size: 16px;
  height: 60px;
  border-radius: 6px;
  text-indent: 16px;
}
.b-form__field::-webkit-input-placeholder {
  color: #aaaaaa;
}
.b-form__submit {
  width: 100%;
  font-size: 16px;
  height: 60px;
  border-radius: 6px;
  color: white;
  background: linear-gradient(
    90deg,
    #5812a1 10%,
    #854ac7 50%,
    #5812a1 90%,
    #5812a1
  );
}

.b-student-history {
}
.b-student-history__user {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 36px;
}
.b-student-history__user_photo {
  min-width: 90px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}
.b-student-history__user_photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.b-student-history__user_name {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.b-student-history__user_name > span {
  font-size: 32px;
  line-height: 46px;
}
.b-student-history__user_name > p {
  min-height: 24px;
  padding-left: 32px;
  background-image: url("./img/pin-grey.png");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: left center;
  font-size: 24px;
}
.b-student-history__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}
.b-student-history__text {
  font-size: 18px;
  line-height: 24px;
}
.b-student-history__text ul {
  padding-left: 20px;
  list-style-type: disc;
}
.b-student-history__text ul li {
}
.b-student-history__subtitle {
  font-size: 22px;
  border-radius: 12px;
  padding: 16px 36px;
  background: #5812a1;
  display: inline-flex;
  margin-bottom: 24px;
}
.b-student-history__changes {
  margin-top: 32px;
  display: flex;
  gap: 32px;
  padding-bottom: 27px;
}
.b-student-history__changes_item {
  position: relative;
  max-width: 50%;
}
.b-student-history__changes_image {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}
.b-student-history__changes_image > img {
  width: 100%;
  height: 100%;
  object-position: cover;
}
.b-student-history__changes_item > span {
  font-size: 16px;
  border-radius: 12px;
  padding: 12px 24px;
  display: inline-flex;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate3d(-50%, 50%, 0);
}
.b-student-history__changes_item--before > span {
  background-color: #48424f;
}
.b-student-history__changes_item--after > span {
  background: #5812a1;
}
@media only screen and (min-width: 48em) {
  .vertical-offset {
    padding: 72px 0;
  }
  .vertical-offset-sm {
    padding: 72px 0;
  }

  h2.default-h2 {
    font-size: 55px;
  }

  .b-buy-button {
    font-size: 18px;
    line-height: 22px;
    height: 100px;
  }
  .b-buy-button > span {
    font-size: 32px;
    line-height: 40px;
  }

  .b-banner {
    padding: 60px 0;
  }
  .b-banner__video {
    border-radius: 22px;
  }
  .b-banner__content_title {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    bottom: 154px;
    max-width: 1100px;
    right: 0;
    margin: 0 auto;
  }
  .b-banner__content_title h1 {
    font-size: 45px;
    line-height: 54px;
  }
  .b-banner__content_title .b-square-box {
    padding: 16px;
    font-size: 24px;
    line-height: 36px;
    width: 328px;
    min-width: 328px;
  }
  .b-banner__content_logo {
    right: 0;
    left: 0;
    margin: 0 auto;
    padding-left: var(--horizontal-offset);
    padding-right: var(--horizontal-offset);
    max-width: 1100px;
    display: flex;
    justify-content: flex-end;
  }
  .b-banner__content_logo > img {
    width: 104px;
  }

  .b-about__content {
    flex-direction: row;
  }
  .b-about__content > p {
    width: 50%;
    font-size: 22px;
    line-height: 32px;
  }
  .b-about__images {
    width: 50%;
  }
  .b-about__images_start {
    justify-content: start;
  }
  .b-about__images_end {
    justify-content: end;
  }

  .b-module__results ul > li {
    width: calc(50% - 12px);
  }
  .b-module__results ul > li:nth-child(2) {
    margin-top: 0;
  }
  .b-module__results ul > li:nth-child(odd) {
    float: left;
    clear: left;
  }
  .b-module__results ul > li:nth-child(even) {
    float: right;
    clear: right;
  }

  .b-module {
    border-radius: 34px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 72px 54px;
  }
  .b-module__title {
    border-radius: 18px;
    width: 278px;
    height: 82px;
    font-size: 36px;
  }
  .b-module__title > div {
    border-radius: 16px;
  }
  .b-module h3 {
    line-height: 54px;
    font-size: 40px;
  }
  .b-module__results {
    margin-top: 42px;
  }
  .b-module__results h4 {
    font-size: 20px;
    line-height: 40px;
  }
  .b-module__results ul {
    font-size: 20px;
    line-height: 24px;
    margin-top: 24px;
  }
  .b-module__results ul > li {
    background-position: left 4px;
    margin-top: 16px;
  }

  .b-results__content {
    flex-direction: row;
  }
  .b-results__text {
    width: calc(100% - 406px);
  }

  .b-tery-ai__content > p {
    font-size: 20px;
    line-height: 30px;
  }
  .b-tery-ai__subtitle {
    margin-top: 54px;
  }
  .b-tery-ai__list {
    flex-direction: row;
    max-width: 100%;
    align-items: start;
    margin: 94px auto;
  }
  .b-tery-ai__list_item {
    text-align: left;
    align-items: start;
    gap: 16px;
    font-size: 24px;
    line-height: 32px;
  }
  .b-tery-ai__list > *:first-child {
    padding-top: 120px;
  }
  .b-tery-ai__list > *:last-child {
    padding-top: 54px;
  }
  .b-tery-ai__arrow--xs {
    display: none;
  }
  .b-tery-ai__arrow--sm {
    display: block;
  }

  .b-goals__list {
    margin-top: 100px;
  }
  .b-goals__list > * {
    width: calc(50% - 20px);
    margin-top: 0 !important;
  }
  .b-goals__list > *:nth-child(odd) {
    float: left;
    clear: both;
  }
  .b-goals__list > *:nth-child(even) {
    float: right;
    clear: both;
  }
  .b-goals__item {
    padding-left: 110px;
  }
  .b-goals__item > div {
    height: 150px;
  }
  .b-goals__item > div > span {
    font-size: 150px;
  }
  .b-goals__item > div > h3 {
    font-size: 24px;
    line-height: 32px;
  }
  .b-goals__item > p {
    font-size: 18px;
    line-height: 28px;
  }

  .b-results__text_list {
    margin-top: 64px;
    gap: 36px;
  }
  .b-results__text h3 {
    font-size: 24px;
    line-height: 36px;
  }
  .b-results__text p {
    font-size: 22px;
    line-height: 32px;
  }

  .b-course-result__content {
    padding: 36px;
  }
  .b-course-result__content p {
    font-size: 24px;
    line-height: 36px;
  }

  .b-program h2 {
    font-size: 80px;
  }
  .b-program h2::after {
    height: 25px;
  }
  .b-program__subtitle {
    font-size: 40px;
    line-height: 54px;
    margin-top: 54px;
    gap: 24px;
  }
  .b-program__description {
    font-size: 42px;
  }
  .b-program .b-module {
    margin-top: 154px;
  }

  .b-reviews h2::after {
    width: 510px;
    height: 25px;
  }
  .b-reviews__wrapper {
    margin-top: 64px;
  }
  .b-reviews__list {
    gap: 32px;
  }
  .b-reviews__item_author > span {
    font-size: 36px;
    line-height: 56px;
  }

  .b-call-to-action__content p {
    font-size: 20px;
    line-height: 30px;
  }

  .b-popup__card {
    padding: 48px;
  }
  .b-form {
    width: 420px;
  }

  .b-student-history__user {
    gap: 36px;
    margin-bottom: 56px;
  }
  .b-student-history__user_photo {
    min-width: 160px;
    width: 160px;
    height: 160px;
  }
  .b-student-history__user_name > span {
    font-size: 46px;
    line-height: 58px;
  }
  .b-student-history__user_name > p {
    min-height: 32px;
    padding-left: 40px;
    background-size: 32px;
    font-size: 32px;
  }
  .b-student-history__content {
    gap: 56px;
    margin-top: 56px;
  }
  .b-student-history__text {
    font-size: 24px;
    line-height: 36px;
  }
  .b-student-history__subtitle {
    font-size: 32px;
    margin-bottom: 42px;
  }
  .b-student-history__changes {
    gap: 56px;
    margin-top: 56px;
  }
  .b-student-history__changes_item > span {
    font-size: 32px;
    padding: 16px 36px;
  }
}

@media only screen and (min-width: 64em) {
  .b-call-to-action {
    text-align: left;
  }
  .b-call-to-action__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
    margin-top: 64px;
  }
  .b-call-to-action__button {
    margin-top: 0;
  }
  .b-call-to-action__button .b-buy-button {
    width: 375px;
  }
}
